

#coursesearch,
.coursesearchbox {
	display: none;
}


.course_category_tree {
	.category {
		@include mb2_collabsible_item();

		margin-bottom: .5rem;

		&.with_children {
			> .content {
				margin-top: .5rem;
			}
		}
	}

	+ .buttons {

		margin-top: 1.35rem;

		.singlebutton {
			display: block;
			+ .singlebutton {
				margin-left: 0;
				margin-top: 1rem;
			}
		}

		[type="submit"],
		[type="submit"].btn-secondary {
			@include button-variant($color_success, $color_success);
			width: 100%;
		}
	}
}



/* Course box in course tree */

.coursebox {



	&.isinfobox {
		
		padding: .4rem 2rem !important;
	    margin-bottom: .5rem;

		.info {

			@include clearfix();

			a {
				color: var(--mb2-pb-headingscolor);
			}

			.enrolmenticons {
				position: relative;
				display: inline-flex;
				align-items: center;
			    background-color: rgba(0,0,0,.08);
				color: rgba(0,0,0,.35);
			    padding: .5rem 0 .5rem .5rem;
			    @include mb2_border_radius(.15rem);
				margin-left: .6rem;
			}

			.moreinfo {

				display: inline-flex;
				align-items: center;

				.spinner {
					opacity: .25;
					animation: mb2spinn 2s infinite linear;
					@keyframes mb2spinn {
						from {
						  transform: rotate(0deg);
						}
						to {
						  transform: rotate(359deg);
						}
					}
				}

				a {
					line-height: 1;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					transform: scale(1.5);
					margin-left: .85rem;
				}

				i {
					@include mb2_font_remix();

					&:before {
						content: '\ee59';
					}
					
				}
			}

			.coursename {
				font-weight: var(--mb2-pb-fwheadings);

				a {
					background-position: left 50%;
					padding-left: 1.7rem;
					line-height: 1;
				}
			}
		}

		.content {
			border-top: solid 1px $color_border;
			margin-top: .5rem;
			padding: 2rem 0;
		}
	}



	.coursedate {
		margin-bottom: 1rem;
		font-size: $fssmall;

		span {
			font-weight: bold;
		}
	}


	.coursecustomfields {
	  	font-size: $fssmall;
	  	margin-bottom: 1rem;


		.course-custom-fileds {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: .2rem;

				.name {
					font-weight: $fwbold;
					margin-right: .3rem;
				}
			}
		}

	}



}
