
/* ======================== STROKE ICONS */

[class^="pe-7s-"]:before, [class*=" pe-7s-"]:before {
    display: inline-block;
    font-family: 'bootstrap-icons' !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pe-7s-album:before {
    content: "\f2ff";
}
.pe-7s-arc:before {
    content: "\f144";
}
.pe-7s-back-2:before {
    content: "\f520";
}
.pe-7s-bandaid:before {
    content: "\f681";
}
.pe-7s-car:before {
    content: "\f7e1";
}
.pe-7s-diamond:before {
    content: "\f2f1";
}
.pe-7s-door-lock:before {
    content: "\f306";
}
.pe-7s-eyedropper:before {
    content: "\f342";
}
.pe-7s-female:before {
    content: "\f642";
}
.pe-7s-gym:before {
    content: "\f66b";
}
.pe-7s-hammer:before {
    content: "\f3ff";
}
.pe-7s-headphones:before {
    content: "\f414";
}
.pe-7s-helm:before {
    content: "\f5e5";
}
.pe-7s-hourglass:before {
    content: "\f421";
}
.pe-7s-leaf:before {
    content: "\f5e2";
}
.pe-7s-magic-wand:before {
    content: "\f675";
}
.pe-7s-male:before {
    content: "\f643";
}
.pe-7s-map-2:before {
    content: "\f47f";
}
.pe-7s-next-2:before {
    content: "\f832";
}
.pe-7s-paint-bucket:before {
    content: "\f4af";
}
.pe-7s-pendrive:before {
    content: "\f6f2";
}
.pe-7s-photo:before {
    content: "\f226";
}
.pe-7s-piggy:before {
    content: "\f64a";
}
.pe-7s-plugin:before {
    content: "\f4f7";
}
.pe-7s-refresh-2:before {
    content: "\f117";
}
.pe-7s-rocket:before {
    content: "\f845";
}
.pe-7s-settings:before {
    content: "\f56b";
}
.pe-7s-shield:before {
    content: "\f53f";
}
.pe-7s-smile:before {
    content: "\f327";
}
.pe-7s-usb:before {
    content: "\f6dd";
}
.pe-7s-vector:before {
    content: "\f18b";
}
.pe-7s-wine:before {
    content: "\f2df";
}
.pe-7s-cloud-upload:before {
    content: "\f2c0";
}
.pe-7s-cash:before {
    content: "\f246";
}
.pe-7s-close:before {
    content: "\f62a";
}
.pe-7s-bluetooth:before {
    content: "\f682";
}
.pe-7s-cloud-download:before {
    content: "\f29b";
}
.pe-7s-way:before {
    content: "\f546";
}
.pe-7s-close-circle:before {
    content: "\f623";
}
.pe-7s-id:before {
    content: "\f8c9";
}
.pe-7s-angle-up:before {
    content: "\f286";
}
.pe-7s-wristwatch:before {
    content: "\f616";
}
.pe-7s-angle-up-circle:before {
    content: "\f13a";
}
.pe-7s-world:before {
    content: "\f3ee";
}
.pe-7s-angle-right:before {
    content: "\f285";
}
.pe-7s-volume:before {
    content: "\f611";
}
.pe-7s-angle-right-circle:before {
    content: "\f134";
}
.pe-7s-users:before {
    content: "\f4d0";
}
.pe-7s-angle-left:before {
    content: "\f284";
}
.pe-7s-user-female:before {
    content: "\f642";
}
.pe-7s-angle-left-circle:before {
    content: "\f12a";
}
.pe-7s-up-arrow:before {
    content: "\f148";
}
.pe-7s-angle-down:before {
    content: "\f282";
}
.pe-7s-switch:before {
    content: "\f6a4";
}
.pe-7s-angle-down-circle:before {
    content: "\f119";
}
.pe-7s-scissors:before {
    content: "\f528";
}
.pe-7s-wallet:before {
    content: "\f614";
}
.pe-7s-safe:before {
    content: "\f65a";
}
.pe-7s-volume2:before {
    content: "\f60f";
}
.pe-7s-volume1:before {
    content: "\f60b";
}
.pe-7s-voicemail:before {
    content: "\f609";
}
.pe-7s-video:before {
    content: "\f21f";
}
.pe-7s-user:before {
    content: "\f4e1";
}
.pe-7s-upload:before {
    content: "\f603";
}
.pe-7s-unlock:before {
    content: "\f600";
}
.pe-7s-umbrella:before {
    content: "\f5fd";
}
.pe-7s-trash:before {
    content: "\f5de";
}
.pe-7s-tools:before {
    content: "\f5de";
}
.pe-7s-timer:before {
    content: "\f597";
}
.pe-7s-ticket:before {
    content: "\f6cb";
}
.pe-7s-target:before {
    content: "\f1de";
}
.pe-7s-sun:before {
    content: "\f5a2";
}
.pe-7s-study:before {
    content: "\f6fe";
}
.pe-7s-stopwatch:before {
    content: "\f597";
}
.pe-7s-star:before {
    content: "\f588";
}
.pe-7s-speaker:before {
    content: "\f484";
}
.pe-7s-signal:before {
    content: "\f61c";
}
.pe-7s-shuffle:before {
    content: "\f544";
}
.pe-7s-shopbag:before {
    content: "\f179";
}
.pe-7s-share:before {
    content: "\f52e";
}
.pe-7s-server:before {
    content: "\f8c4";
}
.pe-7s-search:before {
    content: "\f52a";
}
.pe-7s-film:before {
    content: "\f3c3";
}
.pe-7s-science:before {
    content: "\f69e";
}
.pe-7s-disk:before {
    content: "\f2ff";
}
.pe-7s-ribbon:before {
    content: "\f1a2";
}
.pe-7s-repeat:before {
    content: "\f813";
}
.pe-7s-refresh:before {
    content: "\f117";
}
.pe-7s-add-user:before {
    content: "\f89a";
}
.pe-7s-refresh-cloud:before {
    content: "\f299";
}
.pe-7s-paperclip:before {
    content: "\f4b3";
}
.pe-7s-radio:before {
    content: "\f684";
}
.pe-7s-note2:before {
    content: "\f444";
}
.pe-7s-print:before {
    content: "\f501";
}
.pe-7s-network:before {
    content: "\f2ee";
}
.pe-7s-prev:before {
    content: "\f819";
}
.pe-7s-mute:before {
    content: "\f60d";
}
.pe-7s-power:before {
    content: "\f4ff";
}
.pe-7s-medal:before {
    content: "\f154";
}
.pe-7s-portfolio:before {
    content: "\f1cc";
}
.pe-7s-like2:before {
    content: "\f407";
}
.pe-7s-plus:before {
    content: "\f4fa";
}
.pe-7s-left-arrow:before {
    content: "\f12a";
}
.pe-7s-play:before {
    content: "\f4f5";
}
.pe-7s-key:before {
    content: "\f44f";
}
.pe-7s-plane:before {
    content: "\f7cd";
}
.pe-7s-joy:before {
    content: "\f687";
}
.pe-7s-photo-gallery:before {
    content: "\f42b";
}
.pe-7s-pin:before {
    content: "\f4eb";
}
.pe-7s-phone:before {
    content: "\f5c1";
}
.pe-7s-plug:before {
    content: "\f4f7";
}
.pe-7s-pen:before {
    content: "\f4c8";
}
.pe-7s-right-arrow:before {
    content: "\f134";
}
.pe-7s-paper-plane:before {
    content: "\f6c0";
}
.pe-7s-delete-user:before {
    content: "\f4e0";
}
.pe-7s-paint:before {
    content: "\f1d8";
}
.pe-7s-bottom-arrow:before {
    content: "\f119";
}
.pe-7s-notebook:before {
    content: "\f194";
}
.pe-7s-note:before {
    content: "\f228";
}
.pe-7s-next:before {
    content: "\f7f4";
}
.pe-7s-news-paper:before {
    content: "\f4a3";
}
.pe-7s-musiclist:before {
    content: "\f49f";
}
.pe-7s-music:before {
    content: "\f49e";
}
.pe-7s-mouse:before {
    content: "\f499";
}
.pe-7s-more:before {
    content: "\f5d4";
}
.pe-7s-moon:before {
    content: "\f497";
}
.pe-7s-monitor:before {
    content: "\f5ed";
}
.pe-7s-micro:before {
    content: "\f490";
}
.pe-7s-menu:before {
    content: "\f479";
}
.pe-7s-map:before {
    content: "\f47f";
}
.pe-7s-map-marker:before {
    content: "\f64c";
}
.pe-7s-mail:before {
    content: "\f84c";
}
.pe-7s-mail-open:before {
    content: "\f32e";
}
.pe-7s-mail-open-file:before {
    content: "\f73d";
}
.pe-7s-magnet:before {
    content: "\f779";
}
.pe-7s-loop:before {
    content: "\f69e";
}
.pe-7s-look:before {
    content: "\f341";
}
.pe-7s-lock:before {
    content: "\f47b";
}
.pe-7s-lintern:before {
    content: "\f5a5";
}
.pe-7s-link:before {
    content: "\f470";
}
.pe-7s-like:before {
    content: "\f417";
}
.pe-7s-light:before {
    content: "\f46b";
}
.pe-7s-less:before {
    content: "\f2ae";
}
.pe-7s-keypad:before {
    content: "\f451";
}
.pe-7s-junk:before {
    content: "\f78b";
}
.pe-7s-info:before {
    content: "\f431";
}
.pe-7s-home:before {
    content: "\f425";
}
.pe-7s-help2:before {
    content: "\f467";
}
.pe-7s-help1:before {
    content: "\f505";
}
.pe-7s-graph3:before {
    content: "\f3f2";
}
.pe-7s-graph2:before {
    content: "\f673";
}
.pe-7s-graph1:before {
    content: "\f4e9";
}
.pe-7s-graph:before {
    content: "\f17e";
}
.pe-7s-global:before {
    content: "\f3ee";
}
.pe-7s-gleam:before {
    content: "\f46d";
}
.pe-7s-glasses:before {
    content: "\f343";
}
.pe-7s-gift:before {
    content: "\f3ec";
}
.pe-7s-folder:before {
    content: "\f3d7";
}
.pe-7s-flag:before {
    content: "\f3cc";
}
.pe-7s-filter:before {
    content: "\f3ca";
}
.pe-7s-file:before {
    content: "\f3c0";
}
.pe-7s-expand1:before {
    content: "\f14d";
}
.pe-7s-exapnd2:before {
    content: "\f14a";
}
.pe-7s-edit:before {
    content: "\f788";
}
.pe-7s-drop:before {
    content: "\f30d";
}
.pe-7s-drawer:before {
    content: "\f70d";
}
.pe-7s-download:before {
    content: "\f1bc";
}
.pe-7s-display2:before {
    content: "\f310";
}
.pe-7s-display1:before {
    content: "\f66d";
}
.pe-7s-diskette:before {
    content: "\f7d8";
}
.pe-7s-date:before {
    content: "\f218";
}
.pe-7s-cup:before {
    content: "\f2e0";
}
.pe-7s-culture:before {
    content: "\f62e";
}
.pe-7s-crop:before {
    content: "\f2dd";
}
.pe-7s-credit:before {
    content: "\f2d8";
}
.pe-7s-copy-file:before {
    content: "\f759";
}
.pe-7s-config:before {
    content: "\f3e5";
}
.pe-7s-compass:before {
    content: "\f2d1";
}
.pe-7s-comment:before {
    content: "\f252";
}
.pe-7s-coffee:before {
    content: "\f7eb";
}
.pe-7s-cloud:before {
    content: "\f2c1";
}
.pe-7s-clock:before {
    content: "\f293";
}
.pe-7s-check:before {
    content: "\f270";
}
.pe-7s-chat:before {
    content: "\f268";
}
.pe-7s-cart:before {
    content: "\f244";
}
.pe-7s-camera:before {
    content: "\f220";
}
.pe-7s-call:before {
    content: "\f5c1";
}
.pe-7s-calculator:before {
    content: "\f1e0";
}
.pe-7s-browser:before {
    content: "\f6cf";
}
.pe-7s-box2:before {
    content: "\f1c7";
}
.pe-7s-box1:before {
    content: "\f10d";
}
.pe-7s-bookmarks:before {
    content: "\f1a4";
}
.pe-7s-bicycle:before {
    content: "\f18d";
}
.pe-7s-bell:before {
    content: "\f18a";
}
.pe-7s-battery:before {
    content: "\f188";
}
.pe-7s-ball:before {
    content: "\f3ef";
}
.pe-7s-back:before {
    content: "\f520";
}
.pe-7s-attention:before {
    content: "\f33b";
}
.pe-7s-anchor:before {
    content: "\f471";
}
.pe-7s-albums:before {
    content: "\f2cc";
}
.pe-7s-alarm:before {
    content: "\f102";
}
.pe-7s-airplay:before {
    content: "\f248";
}


/* ======================== LINEICONS */

.lni-files:before {
    content: "\eade";
}
.lni-display-alt:before {
    content: "\eb66";
}
.lni-laptop-phone:before {
    content: "\eb35";
}
.lni-laptop:before {
    content: "\eb34";
}
.lni-mobile:before {
    content: "\eb92";
}
.lni-tab:before {
    content: "\ec03";
}
.lni-timer:before {
    content: "\ebf9";
}
.lni-headphone:before {
    content: "\eb12";
}
.lni-rocket:before {
    content: "\ebba";
}
.lni-package:before {
    content: "\ea52";
}
.lni-popup:before {
    content: "\eb5b";
}
.lni-scroll-down:before {
    content: "\ebc6";
}
.lni-pagination:before {
    content: "\eb85";
}
.lni-unlock:before {
    content: "\ec2a";
}
.lni-lock:before {
    content: "\eb46";
}
.lni-reload:before {
    content: "\ebb5";
}
.lni-map-marker:before {
    content: "\eb4d";
}
.lni-map:before {
    content: "\eb4c";
}
.lni-game:before {
    content: "\eaf2";
}
.lni-search:before {
    content: "\ebc7";
}
.lni-alarm:before {
    content: "\ea3c";
}
.lni-code:before {
    content: "\ea93";
}
.lni-website:before {
    content: "\ec4d";
}
.lni-code-alt:before {
    content: "\eb67";
}
.lni-display:before {
    content: "\eb68";
}
.lni-shortcode:before {
    content: "\ea94";
}
.lni-headphone-alt:before {
    content: "\eb12";
}
.lni-alarm-clock:before {
    content: "\ea08";
}
.lni-bookmark-alt:before {
    content: "\ea4d";
}
.lni-bookmark:before {
    content: "\ea4c";
}
.lni-layout:before {
    content: "\eb39";
}
.lni-keyboard:before {
    content: "\eb30";
}
.lni-grid-alt:before {
    content: "\eaa7";
}
.lni-grid:before {
    content: "\eb38";
}
.lni-mic:before {
    content: "\eb5e";
}
.lni-signal:before {
    content: "\ec13";
}
.lni-download:before {
    content: "\eab9";
}
.lni-upload:before {
    content: "\ec2c";
}
.lni-zip:before {
    content: "\eadd";
}
.lni-rss-feed:before {
    content: "\ebbc";
}
.lni-warning:before {
    content: "\ea36";
}
.lni-cloud-sync:before {
    content: "\ea8f";
}
.lni-cloud-upload:before {
    content: "\ea91";
}
.lni-cloud-check:before {
    content: "\ea8b";
}
.lni-cloud-download:before {
    content: "\ea8c";
}
.lni-cog:before {
    content: "\eaf5";
}
.lni-dashboard:before {
    content: "\eaf4";
}
.lni-folder:before {
    content: "\eaed";
}
.lni-database:before {
    content: "\eaa8";
}
.lni-harddrive:before {
    content: "\ea88";
}
.lni-control-panel:before {
    content: "\ebe3";
}
.lni-plug:before {
    content: "\eba0";
}
.lni-menu:before {
    content: "\eb55";
}
.lni-power-switch:before {
    content: "\eba7";
}
.lni-printer:before {
    content: "\eba9";
}
.lni-save:before {
    content: "\eaea";
}
.lni-layers:before {
    content: "\eb37";
}
.lni-link:before {
    content: "\eb43";
}
.lni-share:before {
    content: "\ebcf";
}
.lni-inbox:before {
    content: "\eab9";
}
.lni-unlink:before {
    content: "\ec29";
}
.lni-microphone:before {
    content: "\eb0a";
}
.lni-magnet:before {
    content: "\eb4a";
}
.lni-mouse:before {
    content: "\eb6b";
}
.lni-share-alt:before {
    content: "\ebd1";
}
.lni-bluetooth:before {
    content: "\ea44";
}
.lni-crop:before {
    content: "\eaa4";
}
.lni-cut:before {
    content: "\ebc4";
}
.lni-protection:before {
    content: "\ebd3";
}
.lni-shield:before {
    content: "\ebd2";
}
.lni-bolt-alt:before {
    content: "\ea49";
}
.lni-bolt:before {
    content: "\ea4a";
}
.lni-infinite:before {
    content: "\eb40";
}
.lni-hand:before {
    content: "\eb0c";
}
.lni-flag:before {
    content: "\eae7";
}
.lni-zoom-out:before {
    content: "\ebc9";
}
.lni-zoom-in:before {
    content: "\ebca";
}
.lni-pin:before {
    content: "\eb4e";
}
.lni-more-alt:before {
    content: "\eb56";
}
.lni-more:before {
    content: "\eb57";
}
.lni-check-box:before {
    content: "\ea7a";
}
.lni-check-mark-circle:before {
    content: "\ea79";
}
.lni-cross-circle:before {
    content: "\ec53";
}
.lni-circle-minus:before {
    content: "\eb64";
}
.lni-close:before {
    content: "\ec52";
}
.lni-star:before {
    content: "\ebf3";
}
.lni-question-circle:before {
    content: "\ebb0";
}
.lni-thumbs-down:before {
    content: "\ec0d";
}
.lni-thumbs-up:before {
    content: "\ec0e";
}
.lni-ban:before {
    content: "\ea36";
}
.lni-hourglass:before {
    content: "\eb1b";
}
.lni-trash:before {
    content: "\ec17";
}
.lni-key:before {
    content: "\eb2f";
}
.lni-pulse:before {
    content: "\ea3a";
}
.lni-heart:before {
    content: "\eb13";
}
.lni-help:before {
    content: "\ebaf";
}
.lni-paint-roller:before {
    content: "\eb87";
}
.lni-ux:before {
    content: "\eb7c";
}
.lni-brush-alt:before {
    content: "\ea5a";
}
.lni-select:before {
    content: "\ebcc";
}
.lni-slice:before {
    content: "\ebe2";
}
.lni-move:before {
    content: "\ea22";
}
.lni-wheelchair:before {
    content: "\ec49";
}
.lni-vector:before {
    content: "\ec30";
}
.lni-ruler-pencil:before {
    content: "\ebbe";
}
.lni-ruler:before {
    content: "\ebbd";
}
.lni-brush:before {
    content: "\ea5b";
}
.lni-eraser:before {
    content: "\eace";
}
.lni-color-pallet:before {
    content: "\ea98";
}
.lni-paint-bucket:before {
    content: "\eb86";
}
.lni-bulb:before {
    content: "\ea5f";
}
.lni-highlight-alt:before {
    content: "\eb17";
}
.lni-highlight:before {
    content: "\eb18";
}
.lni-handshake:before {
    content: "\eb0b";
}
.lni-briefcase:before {
    content: "\ea57";
}
.lni-funnel:before {
    content: "\eaf0";
}
.lni-world:before {
    content: "\eafb";
}
.lni-calculator:before {
    content: "\ea66";
}
.lni-target-revenue:before {
    content: "\eab7";
}
.lni-revenue:before {
    content: "\eb0d";
}
.lni-invention:before {
    content: "\ea60";
}
.lni-network:before {
    content: "\eb16";
}
.lni-credit-cards:before {
    content: "\eaa3";
}
.lni-pie-chart:before {
    content: "\eb95";
}
.lni-archive:before {
    content: "\ea51";
}
.lni-magnifier:before {
    content: "\ebc8";
}
.lni-agenda:before {
    content: "\ea05";
}
.lni-target:before {
    content: "\ec05";
}
.lni-stamp:before {
    content: "\ebf2";
}
.lni-clipboard:before {
    content: "\ea87";
}
.lni-licencse:before {
    content: "\eb1e";
}
.lni-paperclip:before {
    content: "\eb88";
}
.lni-stats-up:before {
    content: "\ec1c";
}
.lni-stats-down:before {
    content: "\ec1b";
}
.lni-bar-chart:before {
    content: "\ea37";
}
.lni-bullhorn:before {
    content: "\eb53";
}
.lni-calendar:before {
    content: "\ea68";
}
.lni-quotation:before {
    content: "\eab8";
}
.lni-bus:before {
    content: "\ea63";
}
.lni-car-alt:before {
    content: "\ea70";
}
.lni-car:before {
    content: "\ea71";
}
.lni-train:before {
    content: "\ec16";
}
.lni-train-alt:before {
    content: "\ec15";
}
.lni-helicopter:before {
    content: "\eb14";
}
.lni-ship:before {
    content: "\ebd7";
}
.lni-bridge:before {
    content: "\ea56";
}
.lni-plane:before {
    content: "\ea04";
}
.lni-bi-cycle:before {
    content: "\ea3d";
}
.lni-road:before {
    content: "\ebb9";
}
.lni-envelope:before {
    content: "\eacd";
}
.lni-support:before {
    content: "\eb5a";
}
.lni-comment-reply:before {
    content: "\eb5b";
}
.lni-phone:before {
    content: "\ec08";
}
.lni-phone-handset:before {
    content: "\ec07";
}
.lni-comment:before {
    content: "\eb59";
}
.lni-coffee-cup:before {
    content: "\ea96";
}
.lni-home:before {
    content: "\eb19";
}
.lni-gift:before {
    content: "\ea53";
}
.lni-eye:before {
    content: "\ead6";
}
.lni-user:before {
    content: "\ec2e";
}
.lni-users:before {
    content: "\ec2f";
}
.lni-wallet:before {
    content: "\ec40";
}
.lni-tshirt:before {
    content: "\ebd8";
}
.lni-medall:before {
    content: "\ec1d";
}
.lni-notepad:before {
    content: "\eb79";
}
.lni-crown:before {
    content: "\eaa5";
}
.lni-ticket:before {
    content: "\ec0f";
}
.lni-ticket-alt:before {
    content: "\ec10";
}
.lni-certificate:before {
    content: "\ea76";
}
.lni-cup:before {
    content: "\ea96";
}
.lni-library:before {
    content: "\ea4e";
}
.lni-school-bench-alt:before {
    content: "\ebc2";
}
.lni-school-bench:before {
    content: "\ebc3";
}
.lni-microscope:before {
    content: "\eb5f";
}
.lni-school-compass:before {
    content: "\ea9c";
}
.lni-information:before {
    content: "\eb21";
}
.lni-graduation:before {
    content: "\eb05";
}
.lni-write:before {
    content: "\eb8f";
}
.lni-pencil:before {
    content: "\eb90";
}
.lni-blackboard:before {
    content: "\ea47";
}
.lni-book:before {
    content: "\ea4b";
}
.lni-shuffle:before {
    content: "\ebdb";
}
.lni-image:before {
    content: "\eaf1";
}
.lni-volume-mute:before {
    content: "\ec3c";
}
.lni-play:before {
    content: "\eb9d";
}
.lni-music:before {
    content: "\eb6e";
}
.lni-camera:before {
    content: "\ea69";
}
.lni-grow:before {
    content: "\eb0e";
}
.lni-diamond:before {
    content: "\eaac";
}
.lni-customer:before {
    content: "\eb0f";
}
.lni-domain:before {
    content: "\ec4e";
}
.lni-delivery:before {
    content: "\ec1f";
}
.lni-shopping-basket:before {
    content: "\ea39";
}
.lni-cart-full:before {
    content: "\ea73";
}
.lni-cart:before {
    content: "\ea74";
}
.lni-burger:before {
    content: "\ea61";
}
.lni-service:before {
    content: "\ebce";
}
.lni-chef-hat:before {
    content: "\eb11";
}
.lni-cake:before {
    content: "\ea65";
}
.lni-pizza:before {
    content: "\eb9a";
}
.lni-tree:before {
    content: "\ec18";
}
.lni-trees:before {
    content: "\ec19";
}
.lni-flower:before {
    content: "\eaeb";
}
.lni-leaf:before {
    content: "\eb3b";
}
.lni-ambulance:before {
    content: "\ea10";
}
.lni-hospital:before {
    content: "\eb1a";
}
.lni-candy-cane:before {
    content: "\ea6b";
}
.lni-candy:before {
    content: "\ea6c";
}
.lni-fireworks:before {
    content: "\eae5";
}
.lni-flags:before {
    content: "\eb89";
}
.lni-cloud:before {
    content: "\ea88";
}
.lni-cloudy-sun:before {
    content: "\ea90";
}
.lni-rain:before {
    content: "\ea8e";
}
.lni-drop:before {
    content: "\ec42";
}
.lni-sun:before {
    content: "\ebfe";
}
.lni-sort-alpha-asc:before {
    content: "\ebe6";
}
.lni-sort-amount-asc:before {
    content: "\ebe7";
}
.lni-indent-increase:before {
    content: "\eb20";
}
.lni-dollar:before {
    content: "\eab6";
}
