


.box-desc {
    .desc0 & {
        display: none;
    }

    .dark & {
        color: #fff;
    }
}

.bigicon {
    display: none;
}


.theme-boxicon {

    .rounded1 & {
        border-radius: var(--mb2-boxradius);

        /* This will fix problem in safari web browser */
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        z-index: 1;
    }
}

.theme-boxesicon {

    &.type-1 {
        --mb2-pb-bxbgcolor: rgba(0,0,0,.08);
        --mb2-pb-bxicolor: var(--mb2-pb-bxaccolor);
    }

    &.type-2,
    &.type-3 {
        --mb2-pb-bxicolor: #fff;
    }

    &.type-5 {
        --mb2-pb-bxbgcolor: #{$accent1};
        --mb2-pb-bxaccolor: rgba(255,255,255,.15);
        --mb2-pb-bxtcolor: #fff;
        --mb2-pb-bxtxcolor: #fff;
        --mb2-pb-bxicolor: #fff;
    }

    &.type-7 {
        --mb2-pb-bxicolor: var(--mb2-pb-bxaccolor);
    }

    &.type-9 {
        --mb2-pb-bxbgcolor: #fff;
    }

    .dark & {
        --mb2-pb-bxtcolor: #fff;
        --mb2-pb-bxtxcolor: #fff;
        --mb2-pb-bxicolor: #fff;
        --mb2-pb-bxbocolor: rgba(255,255,255,.15);
    }

    .dark &,
    .dark &.type-1 {
        --mb2-pb-bxbgcolor: rgba(255,255,255,.1);	
    }

    &.center1 {
        &.type-6 {
            .theme-boxicon-inner {
                align-items: center;
                text-align: center;
            }
        }
    }
    
}

.theme-boxicon {

    .box-title {
        color: var(--mb2-pb-bxtcolor);
    }

    .box-desc {
        color: var(--mb2-pb-bxtxcolor);
    }

    .theme-boxicon-icon {
        color: var(--mb2-pb-bxicolor);
    }

    /* ======================== TYPE 1 */

    .type-1 & {


        .theme-boxicon-icon {
            display: block;
            background-color: var(--mb2-pb-bxbgcolor);
            width: 100px;
            height: 100px;
            margin: 0 auto 30px auto;
            line-height: 100px;
            text-align: center;
            font-size: 48px;			
            @include mb2_transition1(all, .25s);
            position: relative;
            overflow: hidden;
        }
    
    
        .theme-boxicon-icon:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 97px;
            left: 0;
            background-color: var(--mb2-pb-bxaccolor);
            @include mb2_transition1(all, .25s);
        }
    
        .theme-boxicon-icon i {
            position: relative;
            z-index: 2;
        }
    
    
        .theme-boxicon-content {
            text-align: center;
        }
    
        &:hover {
    
            .theme-boxicon-icon {
                color: #fff!important;
            }
    
            .theme-boxicon-icon:after {
                top: 0;
            }
        }
    }



    /* ======================== TYPE 2 and 3 */

    .type-2 &,
    .type-3 & {
    
        .theme-boxicon-inner {
            min-height: 45px;
            display: flex;
            align-items: center;
        }

        .theme-boxicon-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: var(--mb2-pb-bxaccolor);
            width: 48px;
            flex: 0 0 48px;
            font-size: 26px;
            @include mb2_transition1(background-color, .25s);
        }

        &:hover {
            .theme-boxicon-icon {
                background-color: color-mix(in srgb,var(--mb2-pb-bxaccolor),#0000 20%);
            }
        }
    }

    .type-2 & {

        .theme-boxicon-inner {
            gap: 1rem;
        }

        .theme-boxicon-icon {
            height: 48px;
            
            @include mb2_border_radius(999px);
        }

    }


    .type-3 & {

        background-color: var(--mb2-pb-bxbgcolor);

        .theme-boxicon-icon {
            align-self: stretch;
        }

        .theme-boxicon-content {
            padding: 1rem;
        }

    }


    .type-3.rounded1 & {

        .theme-boxicon-icon {
            border-radius: var(--mb2-boxradius) 0 0 var(--mb2-boxradius);
        }
    }


    /* ======================== TYPE 4 */

    .type-4 & {

        .theme-boxicon-inner {
            display: flex;
            align-items: center;
            gap: .8rem;
        }

        .theme-boxicon-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 48px;
            min-width: 64px;
            flex: 0 0 64px;

            i {
                @include mb2_transition1(transform, .25s);
            }
        }

        &:hover {
            .theme-boxicon-icon {
                i {
                    @include mb2_transform_scale(1.2);
                }

            }
        }

    }



    /* ======================== TYPE 5 */
    
    .type-5 & {
        display: flex;
        align-items: center;
        background-color: var(--mb2-pb-bxbgcolor);
        padding: 1.3rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        @include mb2_transition1(transform, .25s);

        &:hover {
            @include mb2_transform_scale(1.06);
        }

        .bigicon {
            display: block !important;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 25%;
            top: 25%;
            font-size: 22rem;
            line-height: 1;
            color: var(--mb2-pb-bxaccolor);
            z-index: 1;
        }
        
        .theme-boxicon-icon {
            font-size: 5rem;
            line-height: 1;
        }

        .theme-boxicon-inner {
            width: 100%;
            position: relative;
            z-index: 2;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }

        .theme-boxicon-icon {
            margin-bottom: 1.3rem;
        }
    }



    /* ======================== TYPE 6 */

    .type-6 & {

        .theme-boxicon-inner {
            display: flex;
            flex-flow: column;
        }

        .theme-boxicon-icon {
            font-size: 2.6rem;
            line-height: 1;
            margin-bottom: 1rem;
            display: inline-flex;

            i {
                @include mb2_transition1(transform, .25s);
            }
        }
    
        &:hover {
            .theme-boxicon-icon {
                i {
                    @include mb2_transform_scale(1.2);
                }
            }
        }

    }





    /* ======================== TYPE 7 */

    .type-7 & {

        padding: 1rem;
        border: solid 2px var(--mb2-pb-bxbocolor);
        display: flex;
        align-items: center;
        @include mb2_transition1(all, .25s);

        .theme-boxicon-inner {
            display: flex;
            align-items: center;
            gap: .8rem;
        }

        .theme-boxicon-icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            flex: 0 0 46px;
            height: 46px;
            font-size: 38px;
        }

        &:hover,
        &:focus {
            @include mb2_box_shadow(0 15px 24px, rgba(0,0,0,.06));
            border-color: var(--mb2-pb-bxaccolor);
        }
    }


    /* ======================== TYPE 8 */

    .type-8 & {


        .theme-boxicon-inner {
            display: flex;
            align-items: center;
            gap: .45rem;
        }

        .theme-boxicon-icon {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;			
            width: 64px;
            flex: 0 0 64px;
            height: 56px;
            font-size: 48px;
            @include mb2_border_radius(.4rem);
            overflow: hidden;

            i {
                position: relative;
            }

            &:before {
                content: '';
                display: block;
                width: 64px;
                height: 64px;
                position: absolute;
                background-color: var(--mb2-pb-bxaccolor);
                bottom: -32px;
                left: -32px;
                border-radius: 50%;
            }
        }
    }




    /* ======================== TYPE 9 */

    .type-9 & {

        background-color: var(--mb2-pb-bxbgcolor);
        border-top: solid 3px var(--mb2-pb-bxaccolor);
        padding: 2.4rem;
        box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
        text-align: center;
        @include mb2_transition1(background-color, .15s);

        .box-title,
        .box-desc {
            @include mb2_transition1(color, .15s);
        }

        .theme-boxicon-inner {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        .theme-boxicon-icon {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;			
            width: 5.6rem;
            flex: 0 0 5.6rem;
            height: 5.6rem;
            font-size: 2.6rem;
            border-radius: 50%;
            line-height: 1;
            margin-bottom: 2.2rem;
            color: var(--mb2-pb-bxaccolor);
            border: solid 2px var(--mb2-pb-bxaccolor);
            @include mb2_transition1(all, .15s);
        }

        /* Default style for button */
        .box-readmore {

            .mb2-pb-btn {
                --mb2-pb-btn-bgcolor: var(--mb2-pb-bxaccolor);
                --mb2-pb-btn-borcolor: var(--mb2-pb-bxaccolor);
                --mb2-pb-btn-bghcolor: var(--mb2-pb-bxaccolor);
                --mb2-pb-btn-hcolor: #fff;
                --mb2-pb-btn-borhcolor: #fff;
            }

            .arrowlink {
                --mb2-pb-btn-color: var(--mb2-pb-bxaccolor);
                --mb2-pb-btn-hcolor: #fff;
            }
        }


        &:hover {

            --mb2-pb-bxtcolor: #fff;
            --mb2-pb-bxtxcolor: #fff;
            background-color: var(--mb2-pb-bxaccolor);

            .theme-boxicon-icon {
                color: #fff;
                border-color: #fff;
            }

            .box-readmore {
                .mb2-pb-btn {
                    --mb2-pb-btn-borcolor: #fff;
                    --mb2-pb-btn-borhcolor: #fff;
                    --mb2-pb-btn-color: #fff;
                }

                .arrowlink {
                    --mb2-pb-btn-color: #fff;
                    --mb2-pb-btn-hcolor: #fff;
                }
            }
        }
        
    }

}