
.theme-courses-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

	.theme-course-item {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 3rem;
	}

	.theme-course-item {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}

	@media only screen and (min-width: $wdmediumdevice + 1){

		.nosidebar-case &,
		.hide-sidebars & {
			.theme-course-item {
				flex: 0 0 25%;
				max-width: 25%;
			}
		}
	}	

	.course-list-layout & {
		.theme-course-item {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}


	@media only screen and (max-width: $wdmediumdevice){
		.theme-course-item {
			flex: 0 0 33.3333333333%;
			max-width: 33.3333333333%;
		}
	}
	
	@media only screen and (max-width: $wmediumdevice){
		.theme-course-item {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}


	@media only screen and (max-width: $wsmalldevice){
		.theme-course-item {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

}

.theme-course-item {

	--mb2-catcolor0: rgba(0,0,0,.1);

	.image-wrap {
		position: relative;
		overflow: hidden;		
		text-align: center;		
	}


	&.objfit {
		.image-wrap {
			img {
				object-fit: cover;
				aspect-ratio: 1.65;
			}
		}
	}

	.course-cbadges {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.image-content {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.7);
		@include mb2_transition1(all, .2s);
		@include mb2_border_radius(.15rem);
		opacity: 0;

		.linkbtn {
			background-color: rgba($accent1, .6);
			color: #fff;
			text-align: center;
			padding: .4rem 1rem;
			@include mb2_border_radius(.15rem);
			@include mb2_transition1(all, .15s);
			font-weight: $fwnormal;
			cursor: pointer;

			&:hover,
			&:focus {
				background-color: $accent1;
			}
		}
	}
	


	&.noquickview {
		.image-content {
			@include mb2_transform_scale(.45);
		}

		.image-wrap {

			&:hover {
				.image-content {
					opacity: 1;
					@include mb2_transform_scale(1);
				}
			}
		}
	}

	.course-item-deatils {
		column-gap: .45rem;
		row-gap: .3rem;

		&:empty {
			display: none !important;
		}
	}
	
	.course-catname {
		font-weight: var(--mb2-pb-fwbold);
		color: var(--mb2-catcolor0);
	}

	.title {
		margin-top: 1.2rem;
	}

	.teacher {

		.info {
			color: $textcolor_lighten;
		}
	}

	.dark & {
		.teacher {
		
			.info {
				color: rgba(255,255,255,.5);
			}
		}
	}


	.course-rating {

		.ratingcount,
	    .ratingnum {
	        font-size: $fssmall;
	    }
	}

	.course-footer {
		border-bottom: solid 1px rgba(0,0,0,.1);
		font-size: $fssmall;
		gap: .7rem;
	}

	.dark & {
		.course-footer {
			border-color: rgba(255,255,255,.1);
		}
	}

	.course-price {
		font-size: 1.25rem;
		font-weight: var(--mb2-pb-fwheadings);
		color: var(--mb2-pb-headingscolor);
	}

	.dark & {
		.course-price {
			color: #fff;
		}
	}

	.date,
	.students {
		color: $textcolor_lighten;

		i {
			margin-right: 3px;
		}
	}

	.dark & {
		.date,
		.students {
			color: rgba(255,255,255,.5);
		}
	}


	/* ======================= DEFAULT STYLE */


	&.cstyle-n {

		&.crounded1 {
			.image-wrap {
				border-radius: .18rem;
			}
		}
		
	}	


	/* ======================= ALTERNATIVE STYLE */

	&.cstyle-la,
	&.cstyle-d {

		.content-wrap { 
			padding: .4rem 1.2rem .9rem 1.2rem;

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 2px;
				height: 2px;
				width: var(--mb2-crandpct);
				background-color: var(--mb2-catcolor0);
			}
		}

		&.crounded1 {
			.theme-course-item-inner {
				border-radius: var(--mb2-boxradius);
				overflow: hidden;
			}
		}

		.course-footer {
			border: 0;
		}


	}


	/* ======================= LIGHT ALTERNATIVE STYLE */

	&.cstyle-la {

		.theme-course-item-inner {
			background-color: #f5f7f9;
		}

		
		
	}



	/* ======================= DARK STYLE */


	&.cstyle-d {

		--mb2-cicbg: #{$headerbgcolor};
		--mb2-catcolor0: rgba(255,255,255,.15);

		color: #fff;

		.title,
		.course-price {
			color: #fff;
		}

		.stars-empty,
		.date, 
		.students,
		.teacher .info {
			color: rgba(255,255,255,.5);
		}

		.theme-course-item-inner {
			background-color: var(--mb2-cicbg);
		}

		.image-wrap {
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 50%;
				bottom: 0;
				background-image: linear-gradient(transparent, var(--mb2-cicbg));
			}
		}

	}
}

.course-cbadges {
	gap: .28rem;
	flex-flow: wrap;

	.image-wrap & {
		justify-content: flex-end;
	}
}


.course-badge {
	padding: .22rem .6rem;
	border-radius: 999px;
	font-size: $fssmall;
	font-weight: $fwbold;
	color: var(--mb2-pb-headingscolor);
	line-height: 1;
	white-space: nowrap;

	&.badge-bestseller {
		background-color: #fada7a;
	}

	&.badge-new {
		background-color: #a1eebd;
	}

	&.badge-mb2badge {
		background-color: #d9eafd;
	}

	&.badge-mycourse {
		background-color: #E2F1E7;
	}

	&.badge-novisible {
		background-color: #fda815;
	}
}


.courses-container-inner {
	position: relative;
	min-height: 200px;
	overflow: hidden;
	height: auto;

	&:before {
		opacity: 0;
		content: '';
		position: absolute;
		top: 100%;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(255,255,255,.95);
		@include mb2_transition1(opacity, .25s);
		z-index: 1;
	}

	&:after {
		display: none;
		content: '';
		position: absolute;
		width: 50px;
		height: 50px;
		top: 50%;
		left: 50%;
		margin-left: -25px;
		margin-top: -25px;
		background-image: var(--mb2-pb-spinner);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 1;
	}

	&.loading {
		&:before {
			opacity: 1;
			top: 0;
		}

		&:after {
			display: block;
		}

	}


}



/* Course top bar */

.theme-courses-topbar {
	@include mb2_element_header();

	@media only screen and (max-width: $wdmediumdevice){
		.courses-container &.filterpossidebar {
			display: none !important;
		}
	}

	@media only screen and (min-width: $wdmediumdevice + 1){
		.sidebar-col &.filterpossidebar {
			display: none !important;
		}
	}	

	margin-bottom: 3rem;
	padding: .45rem;
	justify-content: space-between;

	.theme-course-search {
		button {
			padding: 0;
			margin: 0;
			background-color: transparent !important;
			border: 0;
			color: $textcolor !important;
			@include mb2_box_shadow_none();
			width: 2rem;
			font-size: 1.3rem;
			line-height: 1;
		}

		input {
			border: 0;
			background-color: transparent;
			padding: .35rem .7rem;
			width: calc(100% - 2rem);
		}

		.search-field {
			border: solid 1px rgba(0,0,0,.1);
			background-color: #fff;
			@include mb2_border_radius(.15rem);
			max-width: 14rem;
		}
	}

	.clearfilters {
		@include mb2_transition1(all, .15s);

		.text {
			color: $headingscolor;
		}
	}

	.filter-toggle {
		color: $headingscolor;
		font-weight: $fwmedium;
		border: solid 1px rgba(0,0,0,.1);
		border-radius: .18rem;
		padding: .35rem .9rem !important;

		i {
			transform: scale(1.3);
		}

		@media only screen and (max-width: $wsmalldevice){
			.text {
				@include sr_only();
			}

		}
	}

	.criteria-num {
		background-color: rgba($color_info, .2);
		padding: .2rem .35rem;
		border-radius: 10rem;
		color: $headerbgcolor;

		@media only screen and (max-width: $wsmalldevice){
			margin-left: 0 !important;
		}
	}
}



/* Remove category picker */

#page-course-index-category {

	&.coursegrid1 {
		.categorypicker {
			display: none;
		}
	}

}





/* Pagination */

.theme-courses-pagin {
	position: relative;
	margin-bottom: 60px;
}

.theme-courses-pagin-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-right: 8px;
	}

	button {
		width: 38px;
		height: 38px;
		border: solid 1px rgba(0,0,0,.1);
		@include mb2_transition1(all, .15s);
		border-radius: 999px;

		&:hover {
			border-color: rgba(0,0,0,.33);
		}

		&.active {
			background-color: $accent1;
			border-color: $accent1;
			color: #fff;

			&:hover {
				border-color: $accent1;
			}
		}

		&.dots {
			border: 0;
			width: auto;
			color: $textcolor_lighten;
			min-width: 18px;
		}

		i {
			font-size: 2rem;
		}
	}

	.dir-rtl & {
		button {
			i {
				transform: scaleX(-1);
			}
		}
	}
}




/* ======================= COURSE FILTER FORM */

.theme-course-filter {
	
	margin: 0 auto 3rem auto;
	max-width: 380px;

	ul{
		margin: 0;
	    padding: 0;
	    list-style: none;

		ul {
			margin-left: 12px;
		}
	}

	

	.filter-content {
		max-height: 216px;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 18px;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0,0,0,.1);
			border: 6px solid transparent;
			background-clip: content-box;
		}

	}

	.filter-block {
		margin-bottom: 2rem;
	}

	.field-container {
		position: relative;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		line-height: var(--mb2-pb-lhheadings);
		margin-bottom: 13px;

		label {
			margin: 0;
			cursor: pointer;
			display: inline-flex;
			align-items: center;

			.info {
				color: $textcolor_lighten;
				font-size: $fssmall;
				margin-left: 3px;
			}
		}

		&.disabled1,
		&.disabled {
			label {
				cursor: not-allowed;
			}
		}

		&.disabled {
			label {
				color: $textcolor_lighten;
			}
		}

		input {
			position: absolute;
			opacity: 0;
			left: 0;
			top: 0;
			width: 0;
			height: 0;
			
			+ .field-mark {
				width: 17px;
				height: 17px;
				flex: 0 0 17px;
				margin-right: 6px;
				border: solid 2px rgba(0,0,0,.12);
				@include mb2_transition1(all, .15s);
				border-radius: 4px;
				font-size: 18px;
				color: $accent1;

				i {
					@include mb2_transition1(opacity, .15s);
					opacity: 0;
				}
			}

			&:checked {

				+ .field-mark {

					border-color: $accent1;

					i {
						opacity: 1;
					}
				}
			}

			/* Style for radio box */

			&[type="radio"] {

				+ .field-mark {
					@include mb2_border_radius(999px);
					font-size: 7px;
				}
			}

		}

	}


	/* ======================= TOGGLE CATEGORIES */

	.filter-form-field {

		> .toggle-list {
			display: none;
		}	

		.toggle-list-btn {
			position: relative;

			&:before {
				@include mb2_font_fa();
				line-height: 1;
				content: '\f107';
			}
		}

		&.active {
			> .toggle-list {
				display: block;
			}

			> .field-container {
				.toggle-list-btn {
					&:before {
						content: '\f106';
					}
				}
			}
			
		}
		
	}



}

/* ======================= COURSE FILTER */

.cfilter-wrap {

	.inner {
		flex-flow: column;
	}

	.filter-close {
		top: .25rem;
		right: .25rem;
		font-size: 1.12rem;
		color: var(--mb2-pb-textcolor);
	}

	.theme-course-filter {
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}


	/* ======================= FILTER SIDEBAR */

	&.filterpossidebar {
		@media only screen and (min-width: $wdmediumdevice + 1){
			.filter-close {
				display: none;
			}
		}

		@media only screen and (max-width: $wdmediumdevice){
			display: none;

			&.active {
				display: block;
			}
		}
	}


	/* ======================= FILTER TOP */
	
	&.filterpostop {

		display: none;

		&.active {
			display: block;
		}

		border: solid 1px rgba(0,0,0,.1);
		padding: 1.6rem;
		padding-bottom: 0;
		border-radius: .15rem;
		margin-bottom: 3rem;

		@media only screen and (min-width: $wdmediumdevice + 1){

			.theme-course-filter {
				max-width: 100%;
				margin: 0;
			}

			.inner {
				flex-flow: wrap;
				margin-left: -15px;
				margin-right: -15px;
			}
		
			.filter-block {
				min-width: 25%;
				flex: 0 0 25%;
				padding-left: 15px;
				padding-right: 15px;
			}
	
		}

	}



	/* ======================= STYLE FOR MOBILE */


	@media only screen and (max-width: $wdmediumdevice){
		border: solid 1px rgba(0,0,0,.1);
		padding: 1.6rem;
		border-radius: .15rem;
		margin-bottom: 3rem;

	}


	
}


/* ======================= COURSE PRICE GENERAL STYLE */

.course-price {
	.price {
		display: flex;
    	flex-flow: row;
		justify-content: flex-start;
	}

	&.reverse {
		.price {
			flex-flow: row-reverse;
			justify-content: flex-end;
		}
	}
}




/* ======================= CHILDREN CATEGORIES */

.children-categories {
	margin-left: -15px;
	margin-right: -15px;


	.hide-sidebars & {
		.children-category {
			width: 25%;
		}
	}

	.children-category {
		display: inline-block;
	    padding: 0 15px;
		width: 33.3333333333%;

		@media only screen and (max-width: $wdmediumdevice){
			width: 50% !important;
		}

		@media only screen and (max-width: $wxsmalldevice){
			width: 100% !important;
		}

		h4 {
		  font-size: 1rem;
		  margin: 0;
		}
	}

	a {
		display: flex;
		flex-flow: row;
    	align-items: stretch;
		border: solid 1px rgba(0,0,0,.1);
		margin-bottom: 30px;
		@include mb2_border_radius(.15rem);
	}

	.cat-content {
		padding: .9rem;
	}

	.cat-image {
		display: flex;
		flex: 0 0 68px;
		background-color: rgba(0,0,0,.04);
		align-items: center;
		justify-content: center;
		padding: .4rem;

		img {
			max-height: calc(68px - .8rem);
		}

		svg {
			width: 24px;
			
			path {
				fill: var(--mb2-pb-textcolor);
			}
		}
		
	}

	.children-category-details {
	  font-size: $fssmall;
	  color: $textcolor_lighten;
	}

}
